<!-- Side-Nav -->
<div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
        <div href="#" class="nav-link h3 text-white my-2  navbar-header">
            ELS
        </div>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/register"><i
                    class="bx bxs-dashboard"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/register"><i
                    class="bx bxs-user-check"></i> Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/register"><i
                    class="bx bxs-conversation"></i> Contact</a>
        </li>

    </ul>

    <span href="#" class="nav-link h4 w-100 mb-5">
        <a href=""><i class="bx bxl-instagram-alt text-white"></i></a>
        <a href=""><i class="bx bxl-twitter px-2 text-white"></i></a>
        <a href=""><i class="bx bxl-facebook text-white"></i></a>
    </span>
</div>